/*home*/
#header{
   header {
      .contact-luminogru {
         font-size: 13px;
         font-family: poppins;
         padding: 10px 0;
         .email-id {
            padding-left: 0
         }
         .tel-no {
            text-align: right;
            padding-right: 0;
         }
      }  
      .digital-craetive-agency {
       
      }
   }

}  